# Compilados Java
*.class
*.jar
*.war
*.ear

# Diretórios de build
/target/
/bin/
/out/

# Arquivos de log
*.log

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Configurações do IDE
*.iml
.idea/
.vscode/

# Arquivos temporários
*.tmp
*.swp
*.swo

# Maven
.mvn/
.settings/
dependency-reduced-pom.xml

# Outros
*.bak
*.orig